{% extends 'base.html.twig' %}

{% block title %}All posts{% endblock %}

{% block body %}
<div class="posts">
    {% for postData in data %}
    {% set post = postData['post'] %}
    <div class="post">
        <div class="author">by <a href="{{ url('user', {id: post.author.id}) }}">{{ post.author.name }}</a></div>
        <div class="rating"
             data-vote-url="{{ url('votePost', {id: post.id}) }}"
             data-current-vote="{{ postData['currentVote'] }}"
        >
            <div class="vote upvote">
                <a href="#" data-vote-value="1">[+]</a>
            </div>
            <div class="rating-value">{{ postData['rating'] }}</div>
            <div class="vote downvote">
                <a href="#" data-vote-value="-1">[-]</a>
            </div>
        </div>
        <div class="title"><a href="{{ url('post', {'id': post.id}) }}">{{ post.title }}</a></div>
        <div class="comment-count">
            {% if postData['commentCount'] != 0 %}
                {{ postData['commentCount'] }} comments
            {% else %}
                No comments yet
            {% endif %}
        </div>
        <hr>
        <br>
    </div>
    {% endfor %}
</div>
{% endblock %}
