{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <div class="create-post">
        {{ form_start(form) }}
            <div class="errors">{{ form_errors(form) }}</div>
        <input type="submit" value="submit">
        {{ form_end(form) }}
    </div>
<div class="posts">
    {% for post in posts %}
    <div class="post">
        <div class="title">{{ post.title }}</div>
        <div class="text">{{ post.text }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}
