{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    {% import 'comment/tree-macro.html.twig' as tree %}
<div class="post">
    <div class="rating"
         data-vote-url="{{ url('votePost', {id: post.id}) }}"
         data-current-vote="{{ postData['currentVote'] }}"
    >
        <div class="vote upvote">
            <a href="#" data-vote-value="1">[+]</a>
        </div>
        <div class="rating-value">{{ postData['rating'] }}</div>
        <div class="vote downvote">
            <a href="#" data-vote-value="-1">[-]</a>
        </div>
    </div>
    <div class="title">{{ post.title }}</div>
    <div class="created">Created: {{ post.createdAt.format('d.m.Y H:i:s') }}</div>
    <div class="updated">Updated: {{ post.updatedAt.format('d.m.Y H:i:s') }}</div>
    <div class="author"><a href="{{ url('user', {id: post.author.id}) }}">{{ post.author.name }}</a></div>
    <div class="text">{{ post.text }}</div>
    <div class="comment-count">
        {% if postData['commentCount'] != 0 %}
            {{ postData['commentCount'] }} comments
        {% else %}
            No comments yet
        {% endif %}
    </div>
    {% if is_granted('edit', post) %}
    <a href="{{ url('editPost', {id: post.id}) }}">Edit</a>
    {% endif %}
    {% if is_granted('delete', post) %}
    <button id="btn-remove" data-delete-url="{{ url('deletePost', {id: post.id}) }}">Delete</button>
    {% endif %}
    <hr>
    <a href="#" class="reply-form" data-comment-id="0">Reply</a>
    <div class="comment-form-container" id="form-container-0"></div>
    <div id="comment-form" data-parent-comment="0">
        {{ form_start(comment_form) }}
        <input type="submit" value="submit">
        {{ form_end(comment_form) }}
    </div>
    <hr>
    {% if post.comments.count == 0 %}
    <div class="no-comments">No comments yet</div>
    {% else %}
    <div class="comments">
    {% for comment in post.rootComments %}
        <div class="comment root">
        {{ tree.comment_tree(comment)  }}
        </div>
    {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
